/* Media queries pour responsive */
@media (max-width: 480px) {
    header {
        flex-direction: column;
        width: 25%;
        padding : 0;
    }
    .logo img{
    width: auto;
}

    nav ul {
        display: none;
        flex-direction: column;
        width:100%;
        text-align: center;
    }

    nav ul.show {
        display: flex;
    }

    .burger {
        display: flex;
    }

    .membres {
        justify-content: center;
    }

    .membre {
        width: 100%;
        max-width: 300px;
    }
}
@media (max-width: 1024px) {
    header {
        flex-direction: column;
        width: 14%;
    }
    .logo img{
    width: auto;
}

    nav ul {
        display: none;
        flex-direction: column;
        width: 50%;
        text-align: center;
    }

    nav ul.show {
        display: flex;
    }

    .burger {
        display: flex;
    }

    .membres {
        justify-content: center;
    }

    .membre {
        width: 100%;
        max-width: 300px;
    }
    .img.actu {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1rem;
        height: 200px;
    }
}